header {
    position: fixed; /*body기준정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    height: var(--header-h);
    width: 100%;
    display: flex; /*logo, gnb, util*/
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    transition: top 0.5s;
}
header .logo a {
    display: block;
    width: 74px;
    height: 60px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 22px;
}
header .util .lang .lang_open,
header .util .search .search_open {
    position: relative;
    padding: 0 0 0 22px;
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: -17px;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_133_9665' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_133_9665)'%3E%3Cpath d='M11.4998 21.2799C10.1634 21.2799 8.90071 21.0226 7.71174 20.5079C6.52293 19.9935 5.48466 19.2924 4.59692 18.4046C3.70918 17.5169 3.00808 16.4786 2.49362 15.2898C1.97899 14.1008 1.72168 12.8381 1.72168 11.5017C1.72168 10.1532 1.97899 8.88749 2.49362 7.70459C3.00808 6.52185 3.70918 5.48661 4.59692 4.59887C5.48466 3.71114 6.52293 3.01004 7.71174 2.49557C8.90071 1.98095 10.1634 1.72363 11.4998 1.72363C12.8483 1.72363 14.114 1.98095 15.2969 2.49557C16.4797 3.01004 17.5149 3.71114 18.4027 4.59887C19.2904 5.48661 19.9915 6.52185 20.506 7.70459C21.0206 8.88749 21.2779 10.1532 21.2779 11.5017C21.2779 12.8381 21.0206 14.1008 20.506 15.2898C19.9915 16.4786 19.2904 17.5169 18.4027 18.4046C17.5149 19.2924 16.4797 19.9935 15.2969 20.5079C14.114 21.0226 12.8483 21.2799 11.4998 21.2799ZM11.4883 19.0575C11.8884 18.4902 12.2402 17.896 12.5437 17.275C12.8471 16.654 13.0947 15.9959 13.2864 15.3008H9.70771C9.89938 15.9959 10.1441 16.654 10.4418 17.275C10.7395 17.896 11.0883 18.4902 11.4883 19.0575ZM9.02538 18.6742C8.73021 18.1547 8.47865 17.6115 8.27069 17.0445C8.06273 16.4775 7.88688 15.8963 7.74313 15.3008H4.9503C5.402 16.0918 5.97237 16.7808 6.66141 17.3679C7.35061 17.9551 8.1386 18.3905 9.02538 18.6742ZM13.9572 18.6742C14.844 18.3905 15.6338 17.9551 16.3267 17.3679C17.0196 16.7808 17.5918 16.0918 18.0435 15.3008H15.251C15.1072 15.8963 14.9293 16.4775 14.7174 17.0445C14.5056 17.6115 14.2522 18.1547 13.9572 18.6742ZM4.14147 13.4012H7.35979C7.31188 13.0817 7.27594 12.7682 7.25198 12.4606C7.22802 12.1529 7.21604 11.8333 7.21604 11.5017C7.21604 11.1663 7.22802 10.8458 7.25198 10.5401C7.27594 10.2344 7.31188 9.92177 7.35979 9.60233H4.14147C4.06161 9.91794 4.00171 10.2296 3.96178 10.5372C3.92185 10.8448 3.90189 11.1663 3.90189 11.5017C3.90189 11.8333 3.92185 12.1539 3.96178 12.4634C4.00171 12.773 4.06161 13.0856 4.14147 13.4012ZM9.27646 13.4012H13.7176C13.7655 13.0817 13.7996 12.7682 13.8197 12.4606C13.8398 12.1529 13.8499 11.8333 13.8499 11.5017C13.8499 11.1663 13.8398 10.8458 13.8197 10.5401C13.7996 10.2344 13.7655 9.92177 13.7176 9.60233H9.27646C9.22854 9.92177 9.19261 10.2344 9.16865 10.5401C9.14469 10.8458 9.13271 11.1663 9.13271 11.5017C9.13271 11.8333 9.14469 12.1529 9.16865 12.4606C9.19261 12.7682 9.22854 13.0817 9.27646 13.4012ZM15.6343 13.4012H18.8466C18.9265 13.0856 18.9864 12.773 19.0263 12.4634C19.0662 12.1539 19.0862 11.8333 19.0862 11.5017C19.0862 11.1663 19.0662 10.8448 19.0263 10.5372C18.9864 10.2296 18.9265 9.91794 18.8466 9.60233H15.6343C15.6784 9.92177 15.7114 10.2344 15.7335 10.5401C15.7555 10.8458 15.7665 11.1663 15.7665 11.5017C15.7665 11.8333 15.7555 12.1529 15.7335 12.4606C15.7114 12.7682 15.6784 13.0817 15.6343 13.4012ZM15.251 7.69716H18.0435C17.5918 6.90606 17.0196 6.2179 16.3267 5.63268C15.6338 5.04745 14.844 4.61301 13.9572 4.32934C14.2522 4.84876 14.5056 5.39102 14.7174 5.95611C14.9293 6.52121 15.1072 7.10156 15.251 7.69716ZM9.70771 7.69716H13.2864C13.0984 7.00189 12.8526 6.34472 12.5492 5.72563C12.2457 5.10655 11.8921 4.51334 11.4883 3.94601C11.0883 4.51334 10.7395 5.10655 10.4418 5.72563C10.1441 6.34472 9.89938 7.00189 9.70771 7.69716ZM4.9503 7.69716H7.74313C7.88688 7.10156 8.06273 6.52121 8.27069 5.95611C8.47865 5.39102 8.73021 4.84876 9.02538 4.32934C8.1386 4.61301 7.35061 5.04745 6.66141 5.63268C5.97237 6.2179 5.402 6.90606 4.9503 7.69716Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .util .search .search_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: -17px;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_133_9671' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_133_9671)'%3E%3Cpath d='M9.0582 15.465C7.28273 15.465 5.77871 14.8488 4.54613 13.6162C3.31355 12.3834 2.69727 10.8794 2.69727 9.1041C2.69727 7.32879 3.31355 5.82476 4.54613 4.59203C5.77871 3.35945 7.28273 2.74316 9.0582 2.74316C10.8335 2.74316 12.3375 3.35945 13.57 4.59203C14.8028 5.82476 15.4191 7.32879 15.4191 9.1041C15.4191 9.81455 15.3112 10.4784 15.0952 11.0955C14.8791 11.7127 14.5871 12.257 14.2191 12.7285L19.54 18.0552C19.7423 18.2614 19.8435 18.5165 19.8435 18.8204C19.8435 19.1245 19.7404 19.3778 19.5342 19.5801C19.3317 19.7825 19.0775 19.8837 18.7716 19.8837C18.4658 19.8837 18.2116 19.7825 18.0093 19.5801L12.6941 14.265C12.2188 14.6331 11.6706 14.9252 11.0496 15.1411C10.4286 15.3571 9.76481 15.465 9.0582 15.465ZM9.0582 13.2848C10.2216 13.2848 11.2093 12.8789 12.0211 12.067C12.833 11.2553 13.2389 10.2677 13.2389 9.1041C13.2389 7.94053 12.833 6.95288 12.0211 6.14117C11.2093 5.32931 10.2216 4.92337 9.0582 4.92337C7.89463 4.92337 6.9069 5.32931 6.09504 6.14117C5.28333 6.95288 4.87747 7.94053 4.87747 9.1041C4.87747 10.2677 5.28333 11.2553 6.09504 12.067C6.9069 12.8789 7.89463 13.2848 9.0582 13.2848Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/******** 아래로 스크롤 내릴때 header 사라짐 ***********/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0; /*메뉴 마우스오버할때 스크롤 내릴경우 메뉴 못움직이게*/
}


/*************** header : fixed 추가 *********************/
header.fixed,
header.menu_over {
    background-color: #fff;
    color: var(--tit-color);
}
header.fixed .logo a,
header.menu_over .logo a {
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    background-image: url(../images/common/logo.svg);

}
header.fixed .util .lang .lang_open::before,
header.menu_over .util .lang .lang_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_133_9665' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_133_9665)'%3E%3Cpath d='M11.4998 21.2799C10.1634 21.2799 8.90071 21.0226 7.71174 20.5079C6.52293 19.9935 5.48466 19.2924 4.59692 18.4046C3.70918 17.5169 3.00808 16.4786 2.49362 15.2898C1.97899 14.1008 1.72168 12.8381 1.72168 11.5017C1.72168 10.1532 1.97899 8.88749 2.49362 7.70459C3.00808 6.52185 3.70918 5.48661 4.59692 4.59887C5.48466 3.71114 6.52293 3.01004 7.71174 2.49557C8.90071 1.98095 10.1634 1.72363 11.4998 1.72363C12.8483 1.72363 14.114 1.98095 15.2969 2.49557C16.4797 3.01004 17.5149 3.71114 18.4027 4.59887C19.2904 5.48661 19.9915 6.52185 20.506 7.70459C21.0206 8.88749 21.2779 10.1532 21.2779 11.5017C21.2779 12.8381 21.0206 14.1008 20.506 15.2898C19.9915 16.4786 19.2904 17.5169 18.4027 18.4046C17.5149 19.2924 16.4797 19.9935 15.2969 20.5079C14.114 21.0226 12.8483 21.2799 11.4998 21.2799ZM11.4883 19.0575C11.8884 18.4902 12.2402 17.896 12.5437 17.275C12.8471 16.654 13.0947 15.9959 13.2864 15.3008H9.70771C9.89938 15.9959 10.1441 16.654 10.4418 17.275C10.7395 17.896 11.0883 18.4902 11.4883 19.0575ZM9.02538 18.6742C8.73021 18.1547 8.47865 17.6115 8.27069 17.0445C8.06273 16.4775 7.88688 15.8963 7.74313 15.3008H4.9503C5.402 16.0918 5.97237 16.7808 6.66141 17.3679C7.35061 17.9551 8.1386 18.3905 9.02538 18.6742ZM13.9572 18.6742C14.844 18.3905 15.6338 17.9551 16.3267 17.3679C17.0196 16.7808 17.5918 16.0918 18.0435 15.3008H15.251C15.1072 15.8963 14.9293 16.4775 14.7174 17.0445C14.5056 17.6115 14.2522 18.1547 13.9572 18.6742ZM4.14147 13.4012H7.35979C7.31188 13.0817 7.27594 12.7682 7.25198 12.4606C7.22802 12.1529 7.21604 11.8333 7.21604 11.5017C7.21604 11.1663 7.22802 10.8458 7.25198 10.5401C7.27594 10.2344 7.31188 9.92177 7.35979 9.60233H4.14147C4.06161 9.91794 4.00171 10.2296 3.96178 10.5372C3.92185 10.8448 3.90189 11.1663 3.90189 11.5017C3.90189 11.8333 3.92185 12.1539 3.96178 12.4634C4.00171 12.773 4.06161 13.0856 4.14147 13.4012ZM9.27646 13.4012H13.7176C13.7655 13.0817 13.7996 12.7682 13.8197 12.4606C13.8398 12.1529 13.8499 11.8333 13.8499 11.5017C13.8499 11.1663 13.8398 10.8458 13.8197 10.5401C13.7996 10.2344 13.7655 9.92177 13.7176 9.60233H9.27646C9.22854 9.92177 9.19261 10.2344 9.16865 10.5401C9.14469 10.8458 9.13271 11.1663 9.13271 11.5017C9.13271 11.8333 9.14469 12.1529 9.16865 12.4606C9.19261 12.7682 9.22854 13.0817 9.27646 13.4012ZM15.6343 13.4012H18.8466C18.9265 13.0856 18.9864 12.773 19.0263 12.4634C19.0662 12.1539 19.0862 11.8333 19.0862 11.5017C19.0862 11.1663 19.0662 10.8448 19.0263 10.5372C18.9864 10.2296 18.9265 9.91794 18.8466 9.60233H15.6343C15.6784 9.92177 15.7114 10.2344 15.7335 10.5401C15.7555 10.8458 15.7665 11.1663 15.7665 11.5017C15.7665 11.8333 15.7555 12.1529 15.7335 12.4606C15.7114 12.7682 15.6784 13.0817 15.6343 13.4012ZM15.251 7.69716H18.0435C17.5918 6.90606 17.0196 6.2179 16.3267 5.63268C15.6338 5.04745 14.844 4.61301 13.9572 4.32934C14.2522 4.84876 14.5056 5.39102 14.7174 5.95611C14.9293 6.52121 15.1072 7.10156 15.251 7.69716ZM9.70771 7.69716H13.2864C13.0984 7.00189 12.8526 6.34472 12.5492 5.72563C12.2457 5.10655 11.8921 4.51334 11.4883 3.94601C11.0883 4.51334 10.7395 5.10655 10.4418 5.72563C10.1441 6.34472 9.89938 7.00189 9.70771 7.69716ZM4.9503 7.69716H7.74313C7.88688 7.10156 8.06273 6.52121 8.27069 5.95611C8.47865 5.39102 8.73021 4.84876 9.02538 4.32934C8.1386 4.61301 7.35061 5.04745 6.66141 5.63268C5.97237 6.2179 5.402 6.90606 4.9503 7.69716Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_133_9671' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_133_9671)'%3E%3Cpath d='M9.0582 15.465C7.28273 15.465 5.77871 14.8488 4.54613 13.6162C3.31355 12.3834 2.69727 10.8794 2.69727 9.1041C2.69727 7.32879 3.31355 5.82476 4.54613 4.59203C5.77871 3.35945 7.28273 2.74316 9.0582 2.74316C10.8335 2.74316 12.3375 3.35945 13.57 4.59203C14.8028 5.82476 15.4191 7.32879 15.4191 9.1041C15.4191 9.81455 15.3112 10.4784 15.0952 11.0955C14.8791 11.7127 14.5871 12.257 14.2191 12.7285L19.54 18.0552C19.7423 18.2614 19.8435 18.5165 19.8435 18.8204C19.8435 19.1245 19.7404 19.3778 19.5342 19.5801C19.3317 19.7825 19.0775 19.8837 18.7716 19.8837C18.4658 19.8837 18.2116 19.7825 18.0093 19.5801L12.6941 14.265C12.2188 14.6331 11.6706 14.9252 11.0496 15.1411C10.4286 15.3571 9.76481 15.465 9.0582 15.465ZM9.0582 13.2848C10.2216 13.2848 11.2093 12.8789 12.0211 12.067C12.833 11.2553 13.2389 10.2677 13.2389 9.1041C13.2389 7.94053 12.833 6.95288 12.0211 6.14117C11.2093 5.32931 10.2216 4.92337 9.0582 4.92337C7.89463 4.92337 6.9069 5.32931 6.09504 6.14117C5.28333 6.95288 4.87747 7.94053 4.87747 9.1041C4.87747 10.2677 5.28333 11.2553 6.09504 12.067C6.9069 12.8789 7.89463 13.2848 9.0582 13.2848Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px) {
    header .gnb .gnb_wrap .gnb_open,
    header .gnb .gnb_wrap .gnb_close,
    header .gnb .gnb_wrap .gnb_util { /*pc숨김*/
        display: none;
    }

    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 179px;
        position: relative; /*depth2정렬기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        line-height: var(--header-h);
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a {
        color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -36px;
        width: 100%;
        height: 3px;
        background-color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute; /*depth1.li 기준정렬*/
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding-top: 16px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--base-color);
        line-height: 2.0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--point-color);
        font-weight: 700;
    }

    /******** menu_over 추가 *************/
    header.menu_over .gnb ul.depth1 > li > ul.depth2 {
        display: block;
    }
    header.menu_over::before {
        content: "";
        position: absolute; /*header기준정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 374px;
        background-color: #fff;
        z-index: -1;
    }
} /*@media*/

@media screen and (min-width:1025px)and (max-width:1300px) {
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 150px;
    }
}

@media screen and (max-width:1024px) { /*모바일*/

    header {
        padding: 0 0 0 20px;
    }
    header .logo a {
        width: 43px;
        height: 34px;
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_util {
        display: none;
        position: absolute; /*gnb_wrap기준정렬*/
        left: 20px;
        top: 15px;
        gap: 15px;
    }
    header .gnb .gnb_util .lang .lang_open,
    header .gnb .gnb_util .search .search_open {
        position: relative;
        color: var(--tit-color);
        padding: 0 0 0 19px;
    }
    header .gnb .gnb_util .lang .lang_open::before,
    header .gnb .gnb_util .search .search_open::before {
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_util .lang .lang_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_202_14' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_202_14)'%3E%3Cpath d='M8.99988 16.5C7.97488 16.5 7.00613 16.3031 6.09363 15.9094C5.18113 15.5156 4.38425 14.9781 3.703 14.2969C3.02175 13.6156 2.48425 12.8187 2.0905 11.9062C1.69675 10.9937 1.49988 10.025 1.49988 9C1.49988 7.9625 1.69675 6.99062 2.0905 6.08437C2.48425 5.17812 3.02175 4.38437 3.703 3.70312C4.38425 3.02187 5.18113 2.48437 6.09363 2.09062C7.00613 1.69687 7.97488 1.5 8.99988 1.5C10.0374 1.5 11.0093 1.69687 11.9155 2.09062C12.8218 2.48437 13.6155 3.02187 14.2968 3.70312C14.978 4.38437 15.5155 5.17812 15.9093 6.08437C16.303 6.99062 16.4999 7.9625 16.4999 9C16.4999 10.025 16.303 10.9937 15.9093 11.9062C15.5155 12.8187 14.978 13.6156 14.2968 14.2969C13.6155 14.9781 12.8218 15.5156 11.9155 15.9094C11.0093 16.3031 10.0374 16.5 8.99988 16.5ZM8.99988 14.9625C9.32488 14.5125 9.60613 14.0437 9.84363 13.5562C10.0811 13.0687 10.2749 12.55 10.4249 12H7.57488C7.72488 12.55 7.91863 13.0687 8.15613 13.5562C8.39363 14.0437 8.67488 14.5125 8.99988 14.9625ZM7.04988 14.6625C6.82488 14.25 6.628 13.8219 6.45925 13.3781C6.2905 12.9344 6.14988 12.475 6.03738 12H3.82488C4.18738 12.625 4.6405 13.1687 5.18425 13.6312C5.728 14.0937 6.34988 14.4375 7.04988 14.6625ZM10.9499 14.6625C11.6499 14.4375 12.2718 14.0937 12.8155 13.6312C13.3593 13.1687 13.8124 12.625 14.1749 12H11.9624C11.8499 12.475 11.7093 12.9344 11.5405 13.3781C11.3718 13.8219 11.1749 14.25 10.9499 14.6625ZM3.18738 10.5H5.73738C5.69988 10.25 5.67175 10.0031 5.653 9.75937C5.63425 9.51562 5.62488 9.2625 5.62488 9C5.62488 8.7375 5.63425 8.48437 5.653 8.24062C5.67175 7.99687 5.69988 7.75 5.73738 7.5H3.18738C3.12488 7.75 3.078 7.99687 3.04675 8.24062C3.0155 8.48437 2.99988 8.7375 2.99988 9C2.99988 9.2625 3.0155 9.51562 3.04675 9.75937C3.078 10.0031 3.12488 10.25 3.18738 10.5ZM7.23738 10.5H10.7624C10.7999 10.25 10.828 10.0031 10.8468 9.75937C10.8655 9.51562 10.8749 9.2625 10.8749 9C10.8749 8.7375 10.8655 8.48437 10.8468 8.24062C10.828 7.99687 10.7999 7.75 10.7624 7.5H7.23738C7.19988 7.75 7.17175 7.99687 7.153 8.24062C7.13425 8.48437 7.12488 8.7375 7.12488 9C7.12488 9.2625 7.13425 9.51562 7.153 9.75937C7.17175 10.0031 7.19988 10.25 7.23738 10.5ZM12.2624 10.5H14.8124C14.8749 10.25 14.9218 10.0031 14.953 9.75937C14.9843 9.51562 14.9999 9.2625 14.9999 9C14.9999 8.7375 14.9843 8.48437 14.953 8.24062C14.9218 7.99687 14.8749 7.75 14.8124 7.5H12.2624C12.2999 7.75 12.328 7.99687 12.3468 8.24062C12.3655 8.48437 12.3749 8.7375 12.3749 9C12.3749 9.2625 12.3655 9.51562 12.3468 9.75937C12.328 10.0031 12.2999 10.25 12.2624 10.5ZM11.9624 6H14.1749C13.8124 5.375 13.3593 4.83125 12.8155 4.36875C12.2718 3.90625 11.6499 3.5625 10.9499 3.3375C11.1749 3.75 11.3718 4.17812 11.5405 4.62187C11.7093 5.06562 11.8499 5.525 11.9624 6ZM7.57488 6H10.4249C10.2749 5.45 10.0811 4.93125 9.84363 4.44375C9.60613 3.95625 9.32488 3.4875 8.99988 3.0375C8.67488 3.4875 8.39363 3.95625 8.15613 4.44375C7.91863 4.93125 7.72488 5.45 7.57488 6ZM3.82488 6H6.03738C6.14988 5.525 6.2905 5.06562 6.45925 4.62187C6.628 4.17812 6.82488 3.75 7.04988 3.3375C6.34988 3.5625 5.728 3.90625 5.18425 4.36875C4.6405 4.83125 4.18738 5.375 3.82488 6Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_util .search .search_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_146_2545' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='18'%3E%3Crect x='0.5' width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_146_2545)'%3E%3Cpath d='M15.2 15.75L10.475 11.025C10.1 11.325 9.66875 11.5625 9.18125 11.7375C8.69375 11.9125 8.175 12 7.625 12C6.2625 12 5.10938 11.5281 4.16563 10.5844C3.22188 9.64062 2.75 8.4875 2.75 7.125C2.75 5.7625 3.22188 4.60938 4.16563 3.66563C5.10938 2.72188 6.2625 2.25 7.625 2.25C8.9875 2.25 10.1406 2.72188 11.0844 3.66563C12.0281 4.60938 12.5 5.7625 12.5 7.125C12.5 7.675 12.4125 8.19375 12.2375 8.68125C12.0625 9.16875 11.825 9.6 11.525 9.975L16.25 14.7L15.2 15.75ZM7.625 10.5C8.5625 10.5 9.35938 10.1719 10.0156 9.51562C10.6719 8.85938 11 8.0625 11 7.125C11 6.1875 10.6719 5.39062 10.0156 4.73438C9.35938 4.07812 8.5625 3.75 7.625 3.75C6.6875 3.75 5.89062 4.07812 5.23438 4.73438C4.57812 5.39062 4.25 6.1875 4.25 7.125C4.25 8.0625 4.57812 8.85938 5.23438 9.51562C5.89062 10.1719 6.6875 10.5 7.625 10.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_146_177' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='19'%3E%3Crect width='24' height='18.5231' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_146_177)'%3E%3Cpath d='M4 18.5645C3.71667 18.5645 3.47917 18.4686 3.2875 18.277C3.09583 18.0853 3 17.8478 3 17.5645C3 17.2811 3.09583 17.0436 3.2875 16.852C3.47917 16.6603 3.71667 16.5645 4 16.5645H20C20.2833 16.5645 20.5208 16.6603 20.7125 16.852C20.9042 17.0436 21 17.2811 21 17.5645C21 17.8478 20.9042 18.0853 20.7125 18.277C20.5208 18.4686 20.2833 18.5645 20 18.5645H4ZM4 10.5645C3.71667 10.5645 3.47917 10.4686 3.2875 10.277C3.09583 10.0853 3 9.84779 3 9.56445C3 9.28112 3.09583 9.04362 3.2875 8.85195C3.47917 8.66029 3.71667 8.56445 4 8.56445H20C20.2833 8.56445 20.5208 8.66029 20.7125 8.85195C20.9042 9.04362 21 9.28112 21 9.56445C21 9.84779 20.9042 10.0853 20.7125 10.277C20.5208 10.4686 20.2833 10.5645 20 10.5645H4ZM4 2.56445C3.71667 2.56445 3.47917 2.46862 3.2875 2.27695C3.09583 2.08529 3 1.84779 3 1.56445C3 1.28112 3.09583 1.04362 3.2875 0.851953C3.47917 0.660286 3.71667 0.564453 4 0.564453H20C20.2833 0.564453 20.5208 0.660286 20.7125 0.851953C20.9042 1.04362 21 1.28112 21 1.56445C21 1.84779 20.9042 2.08529 20.7125 2.27695C20.5208 2.46862 20.2833 2.56445 20 2.56445H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
    }

    header .gnb .gnb_wrap {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: calc(100% - 60px);
        max-width: 500px;
        background-color: #fff;
        color: var(--tit-color);
        z-index: 10;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-h) 0 0 0;
        padding: 0 20px;
        height: calc(100% - var(--header-h));
        overflow-x: hidden; /* 좌우스크롤 없애기*/
        overflow-y: auto;
        border-top: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: var(--bold-weight);
        line-height: var(--tit-line-height);
        padding:  15px;
        position: relative; /*after*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: 0;
        top: 21px;
        width: 17px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_146_2575' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='16'%3E%3Crect x='16.5002' width='16' height='16' transform='rotate(90 16.5002 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_146_2575)'%3E%3Cpath d='M8.49833 9.64975L13.3983 4.74975C13.565 4.58308 13.7622 4.50253 13.99 4.50808C14.2178 4.51364 14.415 4.59975 14.5817 4.76641C14.7483 4.93308 14.8317 5.1303 14.8317 5.35808C14.8317 5.58586 14.7483 5.78308 14.5817 5.94975L9.44833 11.0664C9.315 11.1997 9.165 11.2997 8.99833 11.3664C8.83167 11.4331 8.665 11.4664 8.49833 11.4664C8.33167 11.4664 8.165 11.4331 7.99833 11.3664C7.83167 11.2997 7.68167 11.1997 7.54833 11.0664L2.415 5.93308C2.24833 5.76641 2.16778 5.57197 2.17333 5.34975C2.17889 5.12753 2.265 4.93308 2.43167 4.76641C2.59833 4.59975 2.79556 4.51641 3.02333 4.51641C3.25111 4.51641 3.44833 4.59975 3.615 4.76641L8.49833 9.64975Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        background-color: #EDEDED;
        padding: 16px 0 16px 19px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        line-height: 1.8;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /*gnb_wrap기준정렬*/
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_146_2540' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='28'%3E%3Crect x='0.5' width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_146_2540)'%3E%3Cpath d='M14.5001 15.6333L8.78339 21.3499C8.5695 21.5638 8.29728 21.6708 7.96672 21.6708C7.63617 21.6708 7.36395 21.5638 7.15006 21.3499C6.93617 21.136 6.82922 20.8638 6.82922 20.5333C6.82922 20.2027 6.93617 19.9305 7.15006 19.7166L12.8667 13.9999L7.15006 8.28327C6.93617 8.06938 6.82922 7.79716 6.82922 7.4666C6.82922 7.13605 6.93617 6.86382 7.15006 6.64993C7.36395 6.43605 7.63617 6.3291 7.96672 6.3291C8.29728 6.3291 8.5695 6.43605 8.78339 6.64993L14.5001 12.3666L20.2167 6.64993C20.4306 6.43605 20.7028 6.3291 21.0334 6.3291C21.3639 6.3291 21.6362 6.43605 21.8501 6.64993C22.0639 6.86382 22.1709 7.13605 22.1709 7.4666C22.1709 7.79716 22.0639 8.06938 21.8501 8.28327L16.1334 13.9999L21.8501 19.7166C22.0639 19.9305 22.1709 20.2027 22.1709 20.5333C22.1709 20.8638 22.0639 21.136 21.8501 21.3499C21.6362 21.5638 21.3639 21.6708 21.0334 21.6708C20.7028 21.6708 20.4306 21.5638 20.2167 21.3499L14.5001 15.6333Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* 2차메뉴 열렸을때 */
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_146_2596' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='16' width='16' height='16' transform='rotate(90 16 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_146_2596)'%3E%3Cpath d='M7.99809 9.64975L12.8981 4.74975C13.0648 4.58308 13.262 4.50253 13.4898 4.50808C13.7175 4.51364 13.9148 4.59975 14.0814 4.76641C14.2481 4.93308 14.3314 5.1303 14.3314 5.35808C14.3314 5.58586 14.2481 5.78308 14.0814 5.94975L8.94809 11.0664C8.81475 11.1997 8.66475 11.2997 8.49809 11.3664C8.33142 11.4331 8.16476 11.4664 7.99809 11.4664C7.83142 11.4664 7.66476 11.4331 7.49809 11.3664C7.33142 11.2997 7.18142 11.1997 7.04809 11.0664L1.91476 5.93308C1.74809 5.76641 1.66753 5.57197 1.67309 5.34975C1.67864 5.12753 1.76476 4.93308 1.93142 4.76641C2.09809 4.59975 2.29531 4.51641 2.52309 4.51641C2.75087 4.51641 2.94809 4.59975 3.11476 4.76641L7.99809 9.64975Z' fill='%23005BAC'/%3E%3C/g%3E%3C/svg%3E%0A");
        transform: rotate(180deg);
    }
    /* 메뉴열였을때 */
    header.menu_open .gnb .gnb_util {
        display: flex;
    }
    header.menu_open .gnb .gnb_wrap {
        right: 0;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
}/*@media 모바일끝*/


footer {
    background-color: #1d1d1d;
    margin: 125px 0 0 0 ;
    padding: 58px 0 55px 0;
    color: #fff;
}
footer .wrapper {
    display: flex;
    gap: 84px;
}
footer .info_wrap .f_nav ul {
    display: flex;
    gap: 0 36px;
}
footer .info_wrap .f_nav ul li {
    position: relative;
}
footer .info_wrap .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 5px;
    height: 15px;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
}
footer .info_wrap .f_nav ul li:last-child::after {
    display: none;
}
footer .info_wrap .f_info address {
    margin: 15px 0 ;
}
footer .copyright {
    margin: 25px 0 0 0;
    color: rgba(255,255,255,0.6);
}


@media screen and (max-width:768px)  {
    footer {
        background-color: #1d1d1d;
        margin: 50px 0 0 0 ;
        padding: 39px 0 48px 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .info_wrap .f_nav {
        margin: 15px 0 0 0;
    }
    footer .info_wrap .f_nav ul {
        flex-wrap: wrap;
    }
    footer .info_wrap .f_nav ul li {
        position: relative;
    }
    footer .info_wrap .f_nav ul li::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 5px;
        height: 15px;
        width: 1px;
        background-color: rgba(255,255,255,0.2);
    }
    footer .info_wrap .f_nav ul li:last-child::after {
        display: none;
    }
    footer .info_wrap .f_info address {
        margin: 15px 0 ;
    }
    footer .copyright {
        margin: 25px 0 0 0;
        color: rgba(255,255,255,0.6);
    }
    
}






