header {
    position: absolute;/*body정렬의기준*/
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 100;
    border-bottom: 1px solid rgba(255,255,255,0.2);

    transition:  top 0.5s;
}
header .logo a {
    display: block;
    height: 31px;
    width: 195px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
}
header .util {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .util .lang .lang_open,
header .util .search .search_open {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 6px;
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0002 25.7542C11.257 25.7542 9.61005 25.4186 8.05922 24.7473C6.50859 24.0763 5.15432 23.1618 3.99641 22.0039C2.83849 20.846 1.92401 19.4917 1.25297 17.9411C0.581719 16.3903 0.246094 14.7433 0.246094 13.0002C0.246094 11.2412 0.581719 9.59026 1.25297 8.04734C1.92401 6.50464 2.83849 5.15432 3.99641 3.99641C5.15432 2.83849 6.50859 1.92401 8.05922 1.25297C9.61005 0.58172 11.257 0.246094 13.0002 0.246094C14.7591 0.246094 16.4101 0.58172 17.953 1.25297C19.4957 1.92401 20.846 2.83849 22.0039 3.99641C23.1618 5.15432 24.0763 6.50464 24.7473 8.04734C25.4186 9.59026 25.7542 11.2412 25.7542 13.0002C25.7542 14.7433 25.4186 16.3903 24.7473 17.9411C24.0763 19.4917 23.1618 20.846 22.0039 22.0039C20.846 23.1618 19.4957 24.0763 17.953 24.7473C16.4101 25.4186 14.7591 25.7542 13.0002 25.7542ZM12.9852 22.8555C13.507 22.1155 13.9659 21.3405 14.3617 20.5305C14.7576 19.7205 15.0805 18.8621 15.3305 17.9555H10.6627C10.9127 18.8621 11.2318 19.7205 11.6202 20.5305C12.0085 21.3405 12.4635 22.1155 12.9852 22.8555ZM9.77266 22.3555C9.38766 21.678 9.05953 20.9694 8.78828 20.2298C8.51703 19.4903 8.28766 18.7321 8.10016 17.9555H4.45734C5.04651 18.9871 5.79047 19.8859 6.68922 20.6517C7.58818 21.4176 8.61599 21.9855 9.77266 22.3555ZM16.2055 22.3555C17.3621 21.9855 18.3923 21.4176 19.2961 20.6517C20.1998 19.8859 20.9463 18.9871 21.5355 17.9555H17.893C17.7055 18.7321 17.4735 19.4903 17.197 20.2298C16.9208 20.9694 16.5903 21.678 16.2055 22.3555ZM3.40234 15.4777H7.60016C7.53766 15.061 7.49078 14.652 7.45953 14.2508C7.42828 13.8495 7.41266 13.4327 7.41266 13.0002C7.41266 12.5627 7.42828 12.1445 7.45953 11.7458C7.49078 11.347 7.53766 10.9393 7.60016 10.5227H3.40234C3.29818 10.9343 3.22005 11.3408 3.16797 11.742C3.11589 12.1433 3.08984 12.5627 3.08984 13.0002C3.08984 13.4327 3.11589 13.8508 3.16797 14.2545C3.22005 14.6583 3.29818 15.066 3.40234 15.4777ZM10.1002 15.4777H15.893C15.9555 15.061 15.9998 14.652 16.0261 14.2508C16.0523 13.8495 16.0655 13.4327 16.0655 13.0002C16.0655 12.5627 16.0523 12.1445 16.0261 11.7458C15.9998 11.347 15.9555 10.9393 15.893 10.5227H10.1002C10.0377 10.9393 9.99078 11.347 9.95953 11.7458C9.92828 12.1445 9.91266 12.5627 9.91266 13.0002C9.91266 13.4327 9.92828 13.8495 9.95953 14.2508C9.99078 14.652 10.0377 15.061 10.1002 15.4777ZM18.393 15.4777H22.583C22.6871 15.066 22.7653 14.6583 22.8173 14.2545C22.8694 13.8508 22.8955 13.4327 22.8955 13.0002C22.8955 12.5627 22.8694 12.1433 22.8173 11.742C22.7653 11.3408 22.6871 10.9343 22.583 10.5227H18.393C18.4505 10.9393 18.4936 11.347 18.5223 11.7458C18.5511 12.1445 18.5655 12.5627 18.5655 13.0002C18.5655 13.4327 18.5511 13.8495 18.5223 14.2508C18.4936 14.652 18.4505 15.061 18.393 15.4777ZM17.893 8.03766H21.5355C20.9463 7.00578 20.1998 6.10818 19.2961 5.34484C18.3923 4.58151 17.3621 4.01484 16.2055 3.64484C16.5903 4.32234 16.9208 5.02964 17.197 5.76672C17.4735 6.5038 17.7055 7.26078 17.893 8.03766ZM10.6627 8.03766H15.3305C15.0853 7.13078 14.7647 6.27359 14.3689 5.46609C13.9731 4.65859 13.5118 3.88484 12.9852 3.14484C12.4635 3.88484 12.0085 4.65859 11.6202 5.46609C11.2318 6.27359 10.9127 7.13078 10.6627 8.03766ZM4.45734 8.03766H8.10016C8.28766 7.26078 8.51703 6.5038 8.78828 5.76672C9.05953 5.02964 9.38766 4.32234 9.77266 3.64484C8.61599 4.01484 7.58818 4.58151 6.68922 5.34484C5.79047 6.10818 5.04651 7.00578 4.45734 8.03766Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .search .search_open::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 6px;
    width: 27px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3895 18.8609C7.76484 18.8609 5.5415 17.9499 3.71943 16.1278C1.89736 14.3055 0.986328 12.0822 0.986328 9.45781C0.986328 6.83344 1.89736 4.6101 3.71943 2.78779C5.5415 0.965722 7.76484 0.0546875 10.3895 0.0546875C13.0138 0.0546875 15.2371 0.965722 17.0591 2.78779C18.8814 4.6101 19.7926 6.83344 19.7926 9.45781C19.7926 10.508 19.633 11.4893 19.3137 12.4016C18.9943 13.314 18.5626 14.1186 18.0186 14.8156L25.8842 22.6898C26.1834 22.9947 26.333 23.3717 26.333 23.821C26.333 24.2706 26.1806 24.645 25.8757 24.9441C25.5764 25.2433 25.2006 25.3928 24.7484 25.3928C24.2963 25.3928 23.9206 25.2433 23.6215 24.9441L15.7643 17.0869C15.0616 17.6312 14.2513 18.0629 13.3333 18.3821C12.4153 18.7013 11.434 18.8609 10.3895 18.8609ZM10.3895 15.638C12.1093 15.638 13.5693 15.0379 14.7694 13.8378C15.9696 12.6379 16.5697 11.1779 16.5697 9.45781C16.5697 7.73774 15.9696 6.27775 14.7694 5.07783C13.5693 3.87768 12.1093 3.2776 10.3895 3.2776C8.66938 3.2776 7.20927 3.87768 6.00912 5.07783C4.8092 6.27775 4.20924 7.73774 4.20924 9.45781C4.20924 11.1779 4.8092 12.6379 6.00912 13.8378C7.20927 15.0379 8.66938 15.638 10.3895 15.638Z' fill='white'/%3E%3C/svg%3E%0A");
}

header .util .sponsor a {
    display: block;
    margin-left: 7px;
    background-color: #E83D3D;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5px;
}

/************* 아래로 스크롤 내릴때 header가 사라짐 ***************/
header.fixed.gnb_up {
    top: -100px /*header의 top 속성을 준 값 -100주면 사라짐*/
}
header.fixed.gnb_up.menu_over {
    top: 0; /*메뉴에 마우스를 오버하면서 스크롤을 내릴경우, 
            메뉴 못움직이게 하는것 */
}
/************* header에 fixed 클래스 추가 ***************/

header.fixed,
header.menu_over {
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

header.fixed .logo a,
header.menu_over .logo a {
    background: url(../images/common/logo_w.svg) no-repeat center center / contain ;
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .sponsor a,
header.menu_over .util .sponsor a  {
    color: #fff;
}
header.fixed .util .lang .lang_open::before,
header.menu_over .util .lang .lang_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0002 25.7542C11.257 25.7542 9.61005 25.4186 8.05922 24.7473C6.50859 24.0763 5.15432 23.1618 3.99641 22.0039C2.83849 20.846 1.92401 19.4917 1.25297 17.9411C0.581719 16.3903 0.246094 14.7433 0.246094 13.0002C0.246094 11.2412 0.581719 9.59026 1.25297 8.04734C1.92401 6.50464 2.83849 5.15432 3.99641 3.99641C5.15432 2.83849 6.50859 1.92401 8.05922 1.25297C9.61005 0.58172 11.257 0.246094 13.0002 0.246094C14.7591 0.246094 16.4101 0.58172 17.953 1.25297C19.4957 1.92401 20.846 2.83849 22.0039 3.99641C23.1618 5.15432 24.0763 6.50464 24.7473 8.04734C25.4186 9.59026 25.7542 11.2412 25.7542 13.0002C25.7542 14.7433 25.4186 16.3903 24.7473 17.9411C24.0763 19.4917 23.1618 20.846 22.0039 22.0039C20.846 23.1618 19.4957 24.0763 17.953 24.7473C16.4101 25.4186 14.7591 25.7542 13.0002 25.7542ZM12.9852 22.8555C13.507 22.1155 13.9659 21.3405 14.3617 20.5305C14.7576 19.7205 15.0805 18.8621 15.3305 17.9555H10.6627C10.9127 18.8621 11.2318 19.7205 11.6202 20.5305C12.0085 21.3405 12.4635 22.1155 12.9852 22.8555ZM9.77266 22.3555C9.38766 21.678 9.05953 20.9694 8.78828 20.2298C8.51703 19.4903 8.28766 18.7321 8.10016 17.9555H4.45734C5.04651 18.9871 5.79047 19.8859 6.68922 20.6517C7.58818 21.4176 8.61599 21.9855 9.77266 22.3555ZM16.2055 22.3555C17.3621 21.9855 18.3923 21.4176 19.2961 20.6517C20.1998 19.8859 20.9463 18.9871 21.5355 17.9555H17.893C17.7055 18.7321 17.4735 19.4903 17.197 20.2298C16.9208 20.9694 16.5903 21.678 16.2055 22.3555ZM3.40234 15.4777H7.60016C7.53766 15.061 7.49078 14.652 7.45953 14.2508C7.42828 13.8495 7.41266 13.4327 7.41266 13.0002C7.41266 12.5627 7.42828 12.1445 7.45953 11.7458C7.49078 11.347 7.53766 10.9393 7.60016 10.5227H3.40234C3.29818 10.9343 3.22005 11.3408 3.16797 11.742C3.11589 12.1433 3.08984 12.5627 3.08984 13.0002C3.08984 13.4327 3.11589 13.8508 3.16797 14.2545C3.22005 14.6583 3.29818 15.066 3.40234 15.4777ZM10.1002 15.4777H15.893C15.9555 15.061 15.9998 14.652 16.0261 14.2508C16.0523 13.8495 16.0655 13.4327 16.0655 13.0002C16.0655 12.5627 16.0523 12.1445 16.0261 11.7458C15.9998 11.347 15.9555 10.9393 15.893 10.5227H10.1002C10.0377 10.9393 9.99078 11.347 9.95953 11.7458C9.92828 12.1445 9.91266 12.5627 9.91266 13.0002C9.91266 13.4327 9.92828 13.8495 9.95953 14.2508C9.99078 14.652 10.0377 15.061 10.1002 15.4777ZM18.393 15.4777H22.583C22.6871 15.066 22.7653 14.6583 22.8173 14.2545C22.8694 13.8508 22.8955 13.4327 22.8955 13.0002C22.8955 12.5627 22.8694 12.1433 22.8173 11.742C22.7653 11.3408 22.6871 10.9343 22.583 10.5227H18.393C18.4505 10.9393 18.4936 11.347 18.5223 11.7458C18.5511 12.1445 18.5655 12.5627 18.5655 13.0002C18.5655 13.4327 18.5511 13.8495 18.5223 14.2508C18.4936 14.652 18.4505 15.061 18.393 15.4777ZM17.893 8.03766H21.5355C20.9463 7.00578 20.1998 6.10818 19.2961 5.34484C18.3923 4.58151 17.3621 4.01484 16.2055 3.64484C16.5903 4.32234 16.9208 5.02964 17.197 5.76672C17.4735 6.5038 17.7055 7.26078 17.893 8.03766ZM10.6627 8.03766H15.3305C15.0853 7.13078 14.7647 6.27359 14.3689 5.46609C13.9731 4.65859 13.5118 3.88484 12.9852 3.14484C12.4635 3.88484 12.0085 4.65859 11.6202 5.46609C11.2318 6.27359 10.9127 7.13078 10.6627 8.03766ZM4.45734 8.03766H8.10016C8.28766 7.26078 8.51703 6.5038 8.78828 5.76672C9.05953 5.02964 9.38766 4.32234 9.77266 3.64484C8.61599 4.01484 7.58818 4.58151 6.68922 5.34484C5.79047 6.10818 5.04651 7.00578 4.45734 8.03766Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open::before,
header.menu_over .util .search .search_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3895 18.8609C7.76484 18.8609 5.5415 17.9499 3.71943 16.1278C1.89736 14.3055 0.986328 12.0822 0.986328 9.45781C0.986328 6.83344 1.89736 4.6101 3.71943 2.78779C5.5415 0.965722 7.76484 0.0546875 10.3895 0.0546875C13.0138 0.0546875 15.2371 0.965722 17.0591 2.78779C18.8814 4.6101 19.7926 6.83344 19.7926 9.45781C19.7926 10.508 19.633 11.4893 19.3137 12.4016C18.9943 13.314 18.5626 14.1186 18.0186 14.8156L25.8842 22.6898C26.1834 22.9947 26.333 23.3717 26.333 23.821C26.333 24.2706 26.1806 24.645 25.8757 24.9441C25.5764 25.2433 25.2006 25.3928 24.7484 25.3928C24.2963 25.3928 23.9206 25.2433 23.6215 24.9441L15.7643 17.0869C15.0616 17.6312 14.2513 18.0629 13.3333 18.3821C12.4153 18.7013 11.434 18.8609 10.3895 18.8609ZM10.3895 15.638C12.1093 15.638 13.5693 15.0379 14.7694 13.8378C15.9696 12.6379 16.5697 11.1779 16.5697 9.45781C16.5697 7.73774 15.9696 6.27775 14.7694 5.07783C13.5693 3.87768 12.1093 3.2776 10.3895 3.2776C8.66938 3.2776 7.20927 3.87768 6.00912 5.07783C4.8092 6.27775 4.20924 7.73774 4.20924 9.45781C4.20924 11.1779 4.8092 12.6379 6.00912 13.8378C7.20927 15.0379 8.66938 15.638 10.3895 15.638Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
}



@media screen and (min-width:1180px) {
        header .gnb .gnb_bg,
        header .gnb .gnb_open,
        header .gnb .gnb_util,
        header .gnb .gnb_close {
            display: none;
        }

        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            width: 208px; /*메뉴네모박스*/
            position: relative; /*depth2 정렬의 기준*/
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: 22px;
            font-weight: 700;
            line-height: 100px; /*header높이값과 동일*/
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a {
            color: #66CC01;
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a span {
            position: relative; /*after정렬의 기준*/
        }
        header .gnb .gnb_wrap ul.depth1 > li.over > a span::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -37px;
            height: 3px;
            width: 100%;
            background-color: #66CC01;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: none;
            position: absolute; /* depth1 > li를 기준으로 정렬 */
            left: 0;
            top: 100px; /*header 높이값과 동일*/
            padding-top: 7px; /*depth2윗여백 */
        }
     
/*************** menu_over 추가시 ***************/

        header.menu_over::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fff;
            width: 100%;
            height: 399px;
            z-index: -1; /*header 안에 있는 요소중 맨 아래 */
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
        }

        header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            display: block; /*나타남*/
        }

        header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            line-height: 2.0;
            color: #555;
        }

        header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
            font-weight: 700;
            color: #66CC01;
        }
}/*@media*/

@media screen and (min-width:1180px) and (max-width:1380px) { 
/*브라우저 1180~ 1380 사이 일때 너비살짝 줄임*/
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 160px;
    }
}

@media screen and (max-width:1179px) { /*모바일*/

    header {
        padding: 0 0 0 20px; /*왼쪽만 여백*/
        border-bottom: 0;
        height: 56px;
    }
    header .logo a {
        height: 17px;
        width: 109px;
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_util {
        display: none; /*숨겼다가 메뉴오버시 flex줘서 나타남 */
        position: absolute; /*gnb_wrap을 기준으로 정렬*/
        top: 16px;
        left: 20px;
        gap: 7px;
    }
    header .gnb .gnb_wrap .gnb_util .lang .lang_open,
    header .gnb .gnb_wrap .gnb_util .search .search_open {
        padding: 0 0 0 22px;
        position: relative; /*before 정렬*/
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap .gnb_util .lang .lang_open::before,
    header .gnb .gnb_wrap .gnb_util .search .search_open::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 3px;
        width: 18px;
        height: 18px;
        background: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap .gnb_util .lang .lang_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_252_500' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_252_500)'%3E%3Cpath d='M9 16.5005C7.975 16.5005 7.00625 16.3036 6.09375 15.9099C5.18125 15.5161 4.38437 14.9786 3.70312 14.2974C3.02187 13.6161 2.48437 12.8192 2.09062 11.9067C1.69687 10.9942 1.5 10.0255 1.5 9.00049C1.5 7.96299 1.69687 6.99111 2.09062 6.08486C2.48437 5.17861 3.02187 4.38486 3.70312 3.70361C4.38437 3.02236 5.18125 2.48486 6.09375 2.09111C7.00625 1.69736 7.975 1.50049 9 1.50049C10.0375 1.50049 11.0094 1.69736 11.9156 2.09111C12.8219 2.48486 13.6156 3.02236 14.2969 3.70361C14.9781 4.38486 15.5156 5.17861 15.9094 6.08486C16.3031 6.99111 16.5 7.96299 16.5 9.00049C16.5 10.0255 16.3031 10.9942 15.9094 11.9067C15.5156 12.8192 14.9781 13.6161 14.2969 14.2974C13.6156 14.9786 12.8219 15.5161 11.9156 15.9099C11.0094 16.3036 10.0375 16.5005 9 16.5005ZM9 14.963C9.325 14.513 9.60625 14.0442 9.84375 13.5567C10.0812 13.0692 10.275 12.5505 10.425 12.0005H7.575C7.725 12.5505 7.91875 13.0692 8.15625 13.5567C8.39375 14.0442 8.675 14.513 9 14.963ZM7.05 14.663C6.825 14.2505 6.62812 13.8224 6.45937 13.3786C6.29062 12.9349 6.15 12.4755 6.0375 12.0005H3.825C4.1875 12.6255 4.64062 13.1692 5.18437 13.6317C5.72812 14.0942 6.35 14.438 7.05 14.663ZM10.95 14.663C11.65 14.438 12.2719 14.0942 12.8156 13.6317C13.3594 13.1692 13.8125 12.6255 14.175 12.0005H11.9625C11.85 12.4755 11.7094 12.9349 11.5406 13.3786C11.3719 13.8224 11.175 14.2505 10.95 14.663ZM3.1875 10.5005H5.7375C5.7 10.2505 5.67187 10.0036 5.65312 9.75986C5.63437 9.51611 5.625 9.26299 5.625 9.00049C5.625 8.73799 5.63437 8.48486 5.65312 8.24111C5.67187 7.99736 5.7 7.75049 5.7375 7.50049H3.1875C3.125 7.75049 3.07812 7.99736 3.04687 8.24111C3.01562 8.48486 3 8.73799 3 9.00049C3 9.26299 3.01562 9.51611 3.04687 9.75986C3.07812 10.0036 3.125 10.2505 3.1875 10.5005ZM7.2375 10.5005H10.7625C10.8 10.2505 10.8281 10.0036 10.8469 9.75986C10.8656 9.51611 10.875 9.26299 10.875 9.00049C10.875 8.73799 10.8656 8.48486 10.8469 8.24111C10.8281 7.99736 10.8 7.75049 10.7625 7.50049H7.2375C7.2 7.75049 7.17187 7.99736 7.15312 8.24111C7.13437 8.48486 7.125 8.73799 7.125 9.00049C7.125 9.26299 7.13437 9.51611 7.15312 9.75986C7.17187 10.0036 7.2 10.2505 7.2375 10.5005ZM12.2625 10.5005H14.8125C14.875 10.2505 14.9219 10.0036 14.9531 9.75986C14.9844 9.51611 15 9.26299 15 9.00049C15 8.73799 14.9844 8.48486 14.9531 8.24111C14.9219 7.99736 14.875 7.75049 14.8125 7.50049H12.2625C12.3 7.75049 12.3281 7.99736 12.3469 8.24111C12.3656 8.48486 12.375 8.73799 12.375 9.00049C12.375 9.26299 12.3656 9.51611 12.3469 9.75986C12.3281 10.0036 12.3 10.2505 12.2625 10.5005ZM11.9625 6.00049H14.175C13.8125 5.37549 13.3594 4.83174 12.8156 4.36924C12.2719 3.90674 11.65 3.56299 10.95 3.33799C11.175 3.75049 11.3719 4.17861 11.5406 4.62236C11.7094 5.06611 11.85 5.52549 11.9625 6.00049ZM7.575 6.00049H10.425C10.275 5.45049 10.0812 4.93174 9.84375 4.44424C9.60625 3.95674 9.325 3.48799 9 3.03799C8.675 3.48799 8.39375 3.95674 8.15625 4.44424C7.91875 4.93174 7.725 5.45049 7.575 6.00049ZM3.825 6.00049H6.0375C6.15 5.52549 6.29062 5.06611 6.45937 4.62236C6.62812 4.17861 6.825 3.75049 7.05 3.33799C6.35 3.56299 5.72812 3.90674 5.18437 4.36924C4.64062 4.83174 4.1875 5.37549 3.825 6.00049Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap .gnb_util .search .search_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_252_503' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_252_503)'%3E%3Cpath d='M14.7 15.75L9.975 11.025C9.6 11.325 9.16875 11.5625 8.68125 11.7375C8.19375 11.9125 7.675 12 7.125 12C5.7625 12 4.60938 11.5281 3.66563 10.5844C2.72188 9.64062 2.25 8.4875 2.25 7.125C2.25 5.7625 2.72188 4.60938 3.66563 3.66563C4.60938 2.72188 5.7625 2.25 7.125 2.25C8.4875 2.25 9.64062 2.72188 10.5844 3.66563C11.5281 4.60938 12 5.7625 12 7.125C12 7.675 11.9125 8.19375 11.7375 8.68125C11.5625 9.16875 11.325 9.6 11.025 9.975L15.75 14.7L14.7 15.75ZM7.125 10.5C8.0625 10.5 8.85938 10.1719 9.51562 9.51562C10.1719 8.85938 10.5 8.0625 10.5 7.125C10.5 6.1875 10.1719 5.39062 9.51562 4.73438C8.85938 4.07812 8.0625 3.75 7.125 3.75C6.1875 3.75 5.39062 4.07812 4.73438 4.73438C4.07812 5.39062 3.75 6.1875 3.75 7.125C3.75 8.0625 4.07812 8.85938 4.73438 9.51562C5.39062 10.1719 6.1875 10.5 7.125 10.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_95_3020' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='19'%3E%3Crect width='24' height='18.5231' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_95_3020)'%3E%3Cpath d='M4 18.564C3.71667 18.564 3.47917 18.4681 3.2875 18.2765C3.09583 18.0848 3 17.8473 3 17.564C3 17.2806 3.09583 17.0431 3.2875 16.8515C3.47917 16.6598 3.71667 16.564 4 16.564H20C20.2833 16.564 20.5208 16.6598 20.7125 16.8515C20.9042 17.0431 21 17.2806 21 17.564C21 17.8473 20.9042 18.0848 20.7125 18.2765C20.5208 18.4681 20.2833 18.564 20 18.564H4ZM4 10.564C3.71667 10.564 3.47917 10.4681 3.2875 10.2765C3.09583 10.0848 3 9.8473 3 9.56396C3 9.28063 3.09583 9.04313 3.2875 8.85147C3.47917 8.6598 3.71667 8.56396 4 8.56396H20C20.2833 8.56396 20.5208 8.6598 20.7125 8.85147C20.9042 9.04313 21 9.28063 21 9.56396C21 9.8473 20.9042 10.0848 20.7125 10.2765C20.5208 10.4681 20.2833 10.564 20 10.564H4ZM4 2.56396C3.71667 2.56396 3.47917 2.46813 3.2875 2.27646C3.09583 2.0848 3 1.8473 3 1.56396C3 1.28063 3.09583 1.04313 3.2875 0.851465C3.47917 0.659798 3.71667 0.563965 4 0.563965H20C20.2833 0.563965 20.5208 0.659798 20.7125 0.851465C20.9042 1.04313 21 1.28063 21 1.56396C21 1.8473 20.9042 2.0848 20.7125 2.27646C20.5208 2.46813 20.2833 2.56396 20 2.56396H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_95_3020' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='19'%3E%3Crect width='24' height='18.5231' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_95_3020)'%3E%3Cpath d='M4 18.564C3.71667 18.564 3.47917 18.4681 3.2875 18.2765C3.09583 18.0848 3 17.8473 3 17.564C3 17.2806 3.09583 17.0431 3.2875 16.8515C3.47917 16.6598 3.71667 16.564 4 16.564H20C20.2833 16.564 20.5208 16.6598 20.7125 16.8515C20.9042 17.0431 21 17.2806 21 17.564C21 17.8473 20.9042 18.0848 20.7125 18.2765C20.5208 18.4681 20.2833 18.564 20 18.564H4ZM4 10.564C3.71667 10.564 3.47917 10.4681 3.2875 10.2765C3.09583 10.0848 3 9.8473 3 9.56396C3 9.28063 3.09583 9.04313 3.2875 8.85147C3.47917 8.6598 3.71667 8.56396 4 8.56396H20C20.2833 8.56396 20.5208 8.6598 20.7125 8.85147C20.9042 9.04313 21 9.28063 21 9.56396C21 9.8473 20.9042 10.0848 20.7125 10.2765C20.5208 10.4681 20.2833 10.564 20 10.564H4ZM4 2.56396C3.71667 2.56396 3.47917 2.46813 3.2875 2.27646C3.09583 2.0848 3 1.8473 3 1.56396C3 1.28063 3.09583 1.04313 3.2875 0.851465C3.47917 0.659798 3.71667 0.563965 4 0.563965H20C20.2833 0.563965 20.5208 0.659798 20.7125 0.851465C20.9042 1.04313 21 1.28063 21 1.56396C21 1.8473 20.9042 2.0848 20.7125 2.27646C20.5208 2.46813 20.2833 2.56396 20 2.56396H4Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: calc(100% - 60px);
        max-width: 600px;/*메뉴를 열었을때 최대 600px*/
        background-color: #fff;
        color: #1d1d1d;
        z-index: 10; /*gnb_bg줘서 올라가게*/

        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 56px;
        height: calc(100% - 56px);
        overflow-x: hidden; /*좌우스크롤없애기*/
        overflow-y: auto; /*알아서*/
        border-top: 1px solid #EDEDED; /*메뉴헤더 선*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: #1d1d1d;
        line-height: 1.2;
        padding: 16px;
        position: relative; /*after 정렬*/
    }
    
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: 0;
        top: 21px;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_252_519' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='16' width='16' height='16' transform='rotate(90 16 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_252_519)'%3E%3Cpath d='M7.9987 9.64975L12.8987 4.74975C13.0654 4.58308 13.2626 4.50253 13.4904 4.50808C13.7181 4.51364 13.9154 4.59975 14.082 4.76641C14.2487 4.93308 14.332 5.1303 14.332 5.35808C14.332 5.58586 14.2487 5.78308 14.082 5.94975L8.9487 11.0664C8.81537 11.1997 8.66536 11.2997 8.4987 11.3664C8.33203 11.4331 8.16536 11.4664 7.9987 11.4664C7.83203 11.4664 7.66536 11.4331 7.4987 11.3664C7.33203 11.2997 7.18203 11.1997 7.0487 11.0664L1.91537 5.93308C1.7487 5.76641 1.66814 5.57197 1.6737 5.34975C1.67925 5.12753 1.76537 4.93308 1.93203 4.76641C2.0987 4.59975 2.29592 4.51641 2.5237 4.51641C2.75148 4.51641 2.9487 4.59975 3.11537 4.76641L7.9987 9.64975Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #EDEDED;
        margin: 0 15px 18px 18px;
        padding: 16px 0 19px 16px;
        border-radius: 5px;
        display: none; /*숨기고 자바에서 보이게*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        line-height: 1.8;
    }
    header .gnb .gnb_close {
        position: absolute; /*gnb_wrap*/
        right: 0;
        top: 0;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_252_495' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_252_495)'%3E%3Cpath d='M13.9999 15.6333L8.28327 21.3499C8.06938 21.5638 7.79716 21.6708 7.4666 21.6708C7.13605 21.6708 6.86382 21.5638 6.64993 21.3499C6.43605 21.136 6.3291 20.8638 6.3291 20.5333C6.3291 20.2027 6.43605 19.9305 6.64993 19.7166L12.3666 13.9999L6.64993 8.28327C6.43605 8.06938 6.3291 7.79716 6.3291 7.4666C6.3291 7.13605 6.43605 6.86382 6.64993 6.64993C6.86382 6.43605 7.13605 6.3291 7.4666 6.3291C7.79716 6.3291 8.06938 6.43605 8.28327 6.64993L13.9999 12.3666L19.7166 6.64993C19.9305 6.43605 20.2027 6.3291 20.5333 6.3291C20.8638 6.3291 21.136 6.43605 21.3499 6.64993C21.5638 6.86382 21.6708 7.13605 21.6708 7.4666C21.6708 7.79716 21.5638 8.06938 21.3499 8.28327L15.6333 13.9999L21.3499 19.7166C21.5638 19.9305 21.6708 20.2027 21.6708 20.5333C21.6708 20.8638 21.5638 21.136 21.3499 21.3499C21.136 21.5638 20.8638 21.6708 20.5333 21.6708C20.2027 21.6708 19.9305 21.5638 19.7166 21.3499L13.9999 15.6333Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_bg {
        display: none;
        position: fixed;  /* body를 기준으로 정렬  */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }


    /** 2차메뉴 열였을때 **/
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #66CC01;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_252_519' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='16' width='16' height='16' transform='rotate(90 16 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_252_519)'%3E%3Cpath d='M7.9987 9.64975L12.8987 4.74975C13.0654 4.58308 13.2626 4.50253 13.4904 4.50808C13.7181 4.51364 13.9154 4.59975 14.082 4.76641C14.2487 4.93308 14.332 5.1303 14.332 5.35808C14.332 5.58586 14.2487 5.78308 14.082 5.94975L8.9487 11.0664C8.81537 11.1997 8.66536 11.2997 8.4987 11.3664C8.33203 11.4331 8.16536 11.4664 7.9987 11.4664C7.83203 11.4664 7.66536 11.4331 7.4987 11.3664C7.33203 11.2997 7.18203 11.1997 7.0487 11.0664L1.91537 5.93308C1.7487 5.76641 1.66814 5.57197 1.6737 5.34975C1.67925 5.12753 1.76537 4.93308 1.93203 4.76641C2.0987 4.59975 2.29592 4.51641 2.5237 4.51641C2.75148 4.51641 2.9487 4.59975 3.11537 4.76641L7.9987 9.64975Z' fill='%2366CC01'/%3E%3C/g%3E%3C/svg%3E%0A");
        transform: rotate(180deg);
    }

    /** 메뉴가 열였을때 **/
    header.menu_open .gnb .gnb_util {
        display: flex; /* 위에 none준거 여기서 block으로바꾼후 flex줌(나타남)*/
    }
    header.menu_open .gnb .gnb_wrap {
        right: 0; /*  header .gnb .gnb_wrap 값 */
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .gnb .gnb_bg {
        display: block;

        animation-name: gnb_bg;
        animation-duration: 0.5s; /*몇초*/
        animation-iteration-count: 1; /*몇번*/
        animation-fill-mode: forwards; 
    }

    @keyframes gnb_bg {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }


}/*@media 모바일 끝*/


















footer {
    margin: 140px 0 0 0;
    background-color: #1d1d1d;
    padding: 84px 0 95px 0;
    color: #fff;
}
footer .f_logo {
    margin: 10px 0 0 0;
}
footer .wrapper {
    display: flex;
    position: relative;
    gap: 62px;
}
footer .info_wrap {
    margin: 0 321px 0 0;
}
footer .info_wrap .f_nav {
    margin: 10px 0 20px 0;
}
footer .info_wrap .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 42px;
}
footer .info_wrap .f_nav ul li {
    position: relative;
}
footer .info_wrap .f_nav ul li::after {
    content: "";
    position: absolute;
    right: -23px;
    top: 5px;
    height: 15px;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
}
footer .info_wrap .f_nav ul li:last-child::after {
    display: none;
}
footer .info_wrap .f_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 13px;
}

footer .copyright {
    margin: 20px 0 0 0;
    color: rgba(255,255,255,0.6);
}
footer .sns {
    position: absolute;
    right: 35px;
    bottom: 0;
}
footer .sns ul {
    display: flex;
    gap: 10px;
}
footer .sns ul li a {
    display: block;
    background-color: rgba(204,204,204,0.2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    
}
footer .sns ul li a::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .sns ul li.blog a::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_161)'%3E%3Cpath d='M19 0V19H12.6255L6.37453 9.43466V19H0V0H6.37453L12.6255 9.94989V0H19Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_161'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.facebook a::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='25' viewBox='0 0 13 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6846 11.1426L12.3931 13.4838C12.3437 13.8749 12.0125 14.1691 11.6197 14.1691H7.82769V23.9578C7.42779 23.9939 7.02261 24.0124 6.61302 24.0124C5.69695 24.0124 4.8029 23.9208 3.9388 23.7464V14.1691H1.02235C0.75458 14.1691 0.536133 13.9498 0.536133 13.6811V10.7515C0.536133 10.4828 0.75458 10.2635 1.02235 10.2635H3.9388V5.86987C3.9388 3.17363 6.11535 0.988281 8.80101 0.988281H12.2037C12.4715 0.988281 12.6899 1.20761 12.6899 1.47626V4.40592C12.6899 4.67458 12.4715 4.89391 12.2037 4.89391H9.77257C8.69884 4.89391 7.82857 5.76769 7.82857 6.84672V10.2644H11.9121C12.3807 10.2644 12.7428 10.6766 12.6855 11.1434L12.6846 11.1426Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .sns ul li.insta a::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_157)'%3E%3Cpath d='M16.0545 3.75C15.371 3.75 14.8281 4.3029 14.8281 4.97642C14.8281 5.64995 15.381 6.20285 16.0545 6.20285C16.7281 6.20285 17.281 5.64995 17.281 4.97642C17.281 4.3029 16.7281 3.75 16.0545 3.75Z' fill='white'/%3E%3Cpath d='M10.585 5.32812C7.73008 5.32812 5.41797 7.65029 5.41797 10.4952C5.41797 13.3401 7.74013 15.6623 10.585 15.6623C13.4299 15.6623 15.7521 13.3401 15.7521 10.4952C15.7521 7.65029 13.4299 5.32812 10.585 5.32812ZM10.585 13.8126C8.75545 13.8126 7.27771 12.3248 7.27771 10.5052C7.27771 8.68571 8.7655 7.19792 10.585 7.19792C12.4046 7.19792 13.8924 8.68571 13.8924 10.5052C13.8924 12.3248 12.4046 13.8126 10.585 13.8126Z' fill='white'/%3E%3Cpath d='M14.6869 21H6.30302C2.8248 21 0 18.1752 0 14.697V6.30302C0 2.8248 2.8248 0 6.30302 0H14.6869C18.1652 0 20.9899 2.8248 20.9899 6.30302V14.6869C20.9899 18.1652 18.1652 20.9899 14.6869 20.9899V21ZM6.30302 1.97032C3.92054 1.97032 1.97032 3.92054 1.97032 6.30302V14.6869C1.97032 17.0795 3.91048 19.0196 6.30302 19.0196H14.6869C17.0795 19.0196 19.0196 17.0795 19.0196 14.6869V6.30302C19.0196 3.91048 17.0795 1.97032 14.6869 1.97032H6.30302Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_157'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.youtube a::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='17' viewBox='0 0 23 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_172_163)'%3E%3Cpath d='M23 5.33431C23 2.39296 20.7342 0 17.9492 0H5.0508C2.25398 0 0 2.39296 0 5.33431V11.6782C0 14.6195 2.25398 17.0125 5.0508 17.0125H17.961C20.746 17.0125 23.0118 14.632 23.0118 11.6782V5.33431H23ZM15.412 8.97361L9.62955 12.0022C9.40534 12.1268 8.62648 11.9523 8.62648 11.6906V5.48387C8.62648 5.20968 9.40534 5.03519 9.62955 5.17229L15.1642 8.35044C15.4002 8.48754 15.6362 8.84897 15.4002 8.97361H15.412Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_172_163'%3E%3Crect width='23' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.x a::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8414 7.01108L18.4039 0H15.9119L10.7611 5.50381L6.81645 0H0L6.89974 9.6276L0 17H2.49207L7.98083 11.1357L12.1835 17H19L11.8414 7.0119V7.01108ZM3.51193 1.80252H5.88805L15.4873 15.1958H13.1111L3.51193 1.80252Z' fill='white'/%3E%3C/svg%3E%0A");
}



@media screen and (max-width:962px) {
        footer {
            margin: 58px 0 0 0;
            padding: 40px 0 88px 0;
        } 
        footer .wrapper {
            display: block;
            position: relative;
            gap: 62px;
        }
        footer .f_logo {
            text-align: center;
        }
        footer .sns {
            position: relative;
            bottom: auto;
            right: auto;
            margin: 32px 0 0 0;
        }
        footer .sns ul {
            justify-content: center;
        }
        footer .info_wrap {
            margin: 0;
        }
        footer .info_wrap .f_nav ul {
            gap: 0 39px;
        }
       
}