html, body {
    font-family: "Pretendard", sans-serif;
    /* 앞에 쓴 서체를 적용 하고 지원이 안되면 두번쨰 서채 적용 */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /* 배수 */
    color:#3d3d3d;
    word-break: keep-all;
    word-wrap: break-word;
    /* 단어가 너무 긴 경우 강제로 줄바꿈을 함 */
}  
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    position: relative; /* header 정렬의 기준 */
    overflow-x: hidden; /* swiper때문에, 가로스크롤 삭제 ,x-가로만 */
    width: 100%;
}
@media screen and (max-width:1300px) { 
    /* 20 + 20 = 40 +1260 = 1300*/
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width:768px) {
    /* 브라우저 넓이가 640px이하에서만 작동 */
        html, body {
                font-size: 16px;
            }
}
/* 글자를 숨겨야 하는 경우 blind 클래스를 적용 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent; /* 칼라 투명 */
}
.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /* 맨위 */
    width: 100%;
}
.skip_nav a {
    display: block;
    text-align: center ;
    padding: 10px 0;
    background-color: #7ADAE9;
    color: #fff;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus {
    top: 0;
}

/* css 변수 */
:root {
    --header-h: 100px; /*header 높이*/
    --header-h-m: -100px; /* header 높이 마이너스 값 */
    --tit-color: #1d1d1d;
    --base-color: #3d3d3d;
    --point-color:  #3086C9;
    --bold-weight: 700;
    --tit-font-size: 32px;
    --tit-line-height: 1.2;
}

@media screen and (max-width:1024px) {
    :root {
    --header-h: 56px; /*header 높이*/
    --header-h-m: -56px; /* header 높이 마이너스 값 */
    --tit-font-size: 28px;
    }
}

@media screen and (max-width:768px) { /* 모바일 */
    :root {
    --tit-font-size: 22px
    }
}