h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
strong,th {
    font-weight: inherit;
}
em, address {
    font-style: normal; /* 기울임 제거 */
}
li{
    list-style: none; /* li의 동그라미 삭제 */
}
a {
    color: inherit; /* 파란색 없애기 */
    text-decoration: none; /* 밑줄 삭제 */
}
button, input[type="button"], input[type="submit"] {
    border: 0; /* none도 사용할 수 있음 */
    background-color: transparent; /* 색깔을 취소 , background: none; 강력 , 다 취소 */
    cursor: pointer; /* 마우스 오버시 손바닥 모양으로 바뀌는 거 */
    text-align: left; /* 글씨 왼쪽 정렬*/
}
select, input, button, textarea {
    font-family: inherit; 
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}
fieldset {
    border: 0; /*테두리 주지 말기 */
}
legend, caption {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}