/* 웹 폰트를 선언 */

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RiaSans';
    src: url('../font/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
