@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

body {
    background-color: #FCFDF7;
}
.home .home_wrap {
    color: #FF9724;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.home .home_wrap .top {
    display: flex;
    height: 125px;
    width: 100%;
    padding-top: 65px;
    padding-left: 249px;
    padding-right: 291px;
    justify-content: space-between;
    align-items: center;
}
.home .home_wrap .top span{
    font-size: 24px;
    line-height: 1.2;
}
.home .home_wrap .top span.name {
    text-align: center;
    font-weight: 700;
}
.home .home_wrap .text span{
    display: block;
    font-family: 'RiaSans';
    font-size: 180px;
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 60px;
}

.profile .profile_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.profile .profile_wrap .left {
    width: 404px;
    padding-bottom: 14px;
}
.profile .profile_wrap .left .photo {
    height: 244px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.profile .profile_wrap .left .photo img {
    width: 244px;
    height: 100%;
    object-fit: cover;
}
.profile .profile_wrap .left .left_txt {
    margin: 55px 0 0 0;
    text-align: right;
}
.profile .profile_wrap .left .left_txt strong{
    display: block;
    font-family: 'RiaSans';
    color: #FF593B;
    margin: 0 0 10px 0;
}
.profile .profile_wrap .left .left_txt span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #3d3d3d;
}
.profile .profile_wrap .left .l_info {
    margin: 30px 0 0 0;
}
.profile .profile_wrap .left .l_info ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
.profile .profile_wrap .left .l_info ul li span {
    padding-left: 46px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #3d3d3d;
}
.profile .profile_wrap .left .l_info ul li p {
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
}
.profile .profile_wrap .right {
    width: 744px;
    margin-top: 50px;
}
.profile .profile_wrap .right .tit {
    position: relative;
    text-align: right;
    padding-bottom: 30px;
}
.profile .profile_wrap .right .tit::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FF9724;
}
.profile .profile_wrap .right .tit h2 {
    font-size: 45px;
    line-height: 1.2;
    color: #3d3d3d;
}
.profile .profile_wrap .right .tit h2 strong {
    font-weight: 700;
    color: #FF593B;
}
.profile .profile_wrap .right .r_info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.profile .profile_wrap .right .r_info .box {
    width: calc(50% - 10px);
    box-sizing: border-box;
}
.profile .profile_wrap .right .r_info .box h3 {
    font-family: 'RiaSans';
    font-size: 26px;
    color: #FF9724;
}
.profile .profile_wrap .right .r_info ul {
    margin-top: 15px;
}
.profile .profile_wrap .right .r_info .edu ul li,
.profile .profile_wrap .right .r_info .work ul li {
    margin: 0 0 15px 0;
}
.profile .profile_wrap .right .r_info .edu ul li span,
.profile .profile_wrap .right .r_info .work ul li span {
    display: block;
    margin: 0 0 5px 0;
}
.profile .profile_wrap .right .r_info .box ul li p {
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
}
.profile .profile_wrap .right .r_info .work,
.profile .profile_wrap .right .r_info .skills {
    margin-top: 30px;
}

.profile .profile_wrap .right .r_info .license,
.profile .profile_wrap .right .r_info .skills {
    padding-left: 110px;
}
.profile .profile_wrap .right .r_info .license ul li {
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
}
.profile .profile_wrap .right .r_info .skills ul li {
    display: inline-flex;
    padding: 0 8px 0 0;
}
.profile .profile_wrap .right .r_info .skills .list_sub {
    margin: 10px 0 0 0;
}
.profile .profile_wrap .right .r_info .skills .list_sub span {
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 10px 0 0 ;
}
.project01 .project01_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project01 .project01_wrap .left {
    width: 504px;
}
.project01 .project01_wrap .left .tit h2 {
    font-family: 'RiaSans';
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #FF9724;
    margin: 0 0 20px 0;
}
.project01 .project01_wrap .left .tit span {
    display: block;
    font-size: 25px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 20px 0;
}
.project01 .project01_wrap .left .tit p {
    color: #1d1d1d;
}
.project01 .project01_wrap .left .list {
    margin: 60px 0 0 0;
}
.project01 .project01_wrap .left .list ul li {
    display: flex;
    gap: 20px;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}
.project01 .project01_wrap .left .list ul li span {
    font-weight: 700;
}
.project01 .project01_wrap .left .list ul li.color {
    align-items: center;
    gap: 10px;
}
.project01 .project01_wrap .left .list ul li span.color01 {
    background-color: #005BAC;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.project01 .project01_wrap .left .list ul li span.color02 {
    background-color: #8FC31F;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.project01 .project01_wrap .left a {
    display: inline-block;
    border: 1px solid #3d3d3d;
    border-radius: 30px;
    padding: 13px 42px;
    margin: 30px 0 0 0;
}
.project01 .project01_wrap .left a.more {
    font-family: 'RiaSans';
    font-weight: 800;
    color: #FF593B;
}
.project01 .project01_wrap .left a:hover.more {
    border: 0;
    background-color: #FF593B;
    color: #fff;
    transition: 0.5s;
}
.project01 .project01_wrap .right {
    width: 950px;
}
.project01 .project01_wrap .photo {
    height: 643px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.project01 .project01_wrap .photo img {
    width: 950px;
    height: 100%;
    object-fit: cover;
}
.project02_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project02 .project02_wrap .left {
    width: 489px;
}
.project02 .project02_wrap .left .tit h2 {
    font-family: 'RiaSans';
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #FF9724;
    margin: 0 0 20px 0;
}
.project02 .project02_wrap .left .tit span {
    display: block;
    font-size: 25px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 20px 0;
}
.project02 .project02_wrap .left .tit p {
    color: #1d1d1d;
}
.project02 .project02_wrap .left .list {
    margin: 60px 0 0 0;
}
.project02 .project02_wrap .left .list ul li {
    display: flex;
    gap: 20px;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}
.project02 .project02_wrap .left .list ul li span {
    font-weight: 700;
}
.project02 .project02_wrap .left .list ul li.color {
    align-items: center;
    gap: 10px;
}
.project02 .project02_wrap .left .list ul li span.color01 {
    background-color: #011E60;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.project02 .project02_wrap .left .list ul li span.color02 {
    background-color: #FFD247;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.project02 .project02_wrap .left a {
    display: inline-block;
    border: 1px solid #3d3d3d;
    border-radius: 30px;
    padding: 13px 42px;
    margin: 30px 8px 0 0;
}
.project02 .project02_wrap .left a.more {
    font-family: 'RiaSans';
    font-weight: 800;
    color: #FF593B;
}
.project02 .project02_wrap .left a:hover.more {
    border: 0;
    background-color: #FF593B;
    color: #fff;
    transition: 0.5s;
}
.project02 .project02_wrap .right {
    width: 1123px;
}
.project02 .project02_wrap .photo {
    height: 632px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.project02 .project02_wrap .photo img {
    width: 1123px;
    height: 100%;
    object-fit: cover;
}

.project03 .project03_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project03 .project03_wrap .left {
    width: 480px;
}
.project03 .project03_wrap .left .tit h2 {
    font-family: 'RiaSans';
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #FF9724;
    margin: 0 0 20px 0;
}
.project03 .project03_wrap .left .tit span {
    display: block;
    font-size: 25px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 20px 0;
}
.project03 .project03_wrap .left .tit p {
    color: #1d1d1d;
}
.project03 .project03_wrap .left .list {
    margin: 60px 0 0 0;
}
.project03 .project03_wrap .left .list ul li {
    display: flex;
    gap: 20px;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}
.project03 .project03_wrap .left .list ul li span {
    font-weight: 700;
}
.project03 .project03_wrap .left .list ul li.color {
    align-items: center;
    gap: 10px;
}
.project03 .project03_wrap .left .list ul li span.color01 {
    background-color: #005BAC;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.project03 .project03_wrap .left .list ul li span.color02 {
    background-color: #8FC31F;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.project03 .project03_wrap .left a {
    display: inline-block;
    border: 1px solid #3d3d3d;
    border-radius: 30px;
    padding: 13px 42px;
    margin: 30px 0 0 0;
}
.project03 .project03_wrap .left a.more {
    font-family: 'RiaSans';
    font-weight: 800;
    color: #FF593B;
}
.project03 .project03_wrap .left a:hover.more {
    border: 0;
    background-color: #FF593B;
    color: #fff;
    transition: 0.5s;
}
.project03 .project03_wrap .right {
    width: 1153px;
}
.project03 .project03_wrap .photo {
    height: 630px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-align: center;
}
.project03 .project03_wrap .photo img {
    width: 1153px;
    height: 100%;
    object-fit: cover;
}
.end .end_wrap {
    height: 100vh;
}
.end .end_wrap .tit {
    text-align: center;
    padding: 320px 0 0 0;
}
.end .end_wrap .tit h2 {
    font-family: 'RiaSans';
    font-size: 60px;
    font-weight: 800;
    color: #FF9724;
}
.end .end_wrap .txt {
    text-align: right;
    margin: 187px 0 0 0;
}
.end .end_wrap .txt strong {
    display: block;
    font-family: 'RiaSans';
    font-size: 25px;
    font-weight: 800;
    color: #3d3d3d;
    margin: 0 0 20px 0;
}
.end .end_wrap .txt span {
    display: block;
    font-size: 20px;
    color: #3d3d3d;
    line-height: 1.2;
    padding: 0 0 10px 0;
}
.fp-watermark {
    display: none !important;
  }

  .cursor { 
	position: absolute;  /* 반드시 absolute여야 하고 위치는 jquery에서 적용 시킴 */
	z-index: 1000;
	transform: translate(-50%, -50%); /* 커서 위치 조정 */
	pointer-events: none; /* 생성된 cursor에 마우스 오버 이벤트를 주지 않기 - 이걸 주지 않으면 cursor에 마우스가 오버된 것으로 인식되어 하단 요소가 클릭되지 않음 */
	display:none; /* 평소에는 보이지 않게 하기 위해서 - 만약 원래도 따라다니는 마우스 포인터를 디자인하려면 스타일을 주면 됨. */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FF593B;
    border: 1px solid #FF593B;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    }
    .cursor.on {
        display: block;  /* jquery에서 특정 요소에 마우스를 오버하면 class명을 추가해주고 그때 나타남 */
        /* 기본적인 스타일 주기 */
   
    }
    .project01_wrap a.pj01,
    .project02_wrap a.pj02,
    .project03_wrap a.pj03 {
        cursor: none !important; /* 만약 마우스 오버 시 생성한 cursor만 나타나고 실제 마우스 포인터는 안보이게 하려면 오버하는 요소에서 마우스 포인트를 안보이게 해야 함 */
    }
